__pycache__/*
geckodriver.log
.markdownlint.json
assets/image_links_in_github_cloud.txt
assets/113_Argentina_Buenos-Aires_25-years-coup-memorial-plate.png
assets/113_Argentina_Buenos-Aires_Centennial-memorial-plate-with-dog.png
assets/267_Italy_Orgosolo_Mural-to-Allende.png